@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
    
  }
  
body{
  font-size: 17px;
  letter-spacing: -.022em;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 100%;
   
}
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }


  /***********Estilos header*******/
  
  header::before{
      content: "";
      display: block;
      margin-bottom: 80px;
  }
  header nav{
      width: 100%;
      height: 80px;
      background: rgb(255, 255, 255);
      border-bottom: 1px solid transparent;
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
      position: fixed;
      top: 0;
      z-index: 100%;
      transition: ease-in-out 0.5s;
  }
  .nav-header{
      display: flex;
      justify-content: space-between;
      height: 80px;
      width: 100%;
      align-items: center;
      font-size: 26px;
      padding: 0 40px;
     
  }
 
  .linksHead {
      transition: ease-in-out 0.5s;
      display: flex;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .nav-header .linksHead  a{
      color: rgb(217, 164, 4);
      text-decoration: none;
      margin-left: 20px;
      text-align:center;
  }
  .burger{
      width: 80px;
      height: 80 px;
      display: none;
      text-align: center;
      z-index: 100;
      cursor: pointer;
      color: rgb(13,13,13);
  }
  .burger > i{
      font-size: 20px;
      line-height: 80px;
  }

/**********Section2*********/
.section2{
  display: flex;
}

.home {
  justify-content: space-between;      
  width: 100%;                           
  margin: auto;                         
  margin-top: 100px;                   
  margin-bottom: 100px;
  background-repeat: no-repeat;
  overflow:hidden;
  position: relative;
  padding-left: 90px;
  
}

.home-image {
  margin: auto;
  margin-top: 50px;
  margin-left: 90px;
  width: 280px;     
  max-width: 360px;    
  height: 280px;
  transition: .6s ease;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 600px;
  z-index: 50%;
  background-color: rgb(242,116,5);
}
.home-image:hover{
  cursor: pointer;
  background-color: rgb(13,13,13);
  
}
.logo-image{
  position: fixed;
  margin: auto;
  margin-top: 50px;
  margin-left: 15px;
  width: 20px;     
  max-width: 100px;    
  transition: .6s ease;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 600px;
  width: 50%;
  cursor: pointer; 
  z-index: 100%;
  background-color:rgb(233,233,233);
}
.logo-image:hover{
 
  opacity: 70%;
  width: auto;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  color: rgb(13,13,13);
  margin-left: 150px;
  
}
.name:hover{
  cursor: pointer;
  color: rgb(54,76,89);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.div-contain-section2{
  padding-top: 290px;
  width: 100%;
  text-align: space-around;
  margin-left: -500px;
  text-align: right;
  margin-right: 100px;
  
}
.title-section2{
  font-size: 34px;
  font-weight: 700;
  font-style: bold;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  
}
.text-section2{
  margin-top: 9px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -.009rem;
  font-family: 'Poppins', sans-serif;
  font-style: "regular";
  color: rgb(32, 32, 32);
  
}
  /*----PROJECTS------*/

.portadas{
  width: 100%;
  background-color: rgb(13,13,13);
}
.subtitle{
  color: rgb(242, 116, 5);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 15px;
 
}
.portadas__grid{
  display: grid;
  height: 750px;
  grid-template-areas: 
  "Portada1  Portada2 "
  "Portada3  Portada4 ";
  gap: 10px;
    
}

.portadas__item{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.portadas__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  object-fit: cover;
}

.portadas__item:nth-of-type(){
  grid-area:Portada1;
  
}
.portadas__item:nth-of-type(2){
  grid-area: Portada2;
  
}
.portadas__item:nth-of-type(3){
  grid-area:Portada3;
  
}
.portadas__item:nth-of-type(4){
  grid-area:Portada4;
  
}

.portadas__hover{
  position: absolute;
  background: rgb(242, 116, 5) ;
  opacity: 70%;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%) ;
  cursor: pointer;
  transition: .3s ease-in-out;

}

.portadas__icon{
  margin-top: 10px;
  font-size: 30px;
}

.portadas__item:hover .portadas__hover{
  transform: translateX(0%);
}

.portadas__icon{
  margin-top: 10px;
  font-size: 30px;
}

/***********Sobre mí***********/
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: rgb(255, 255, 255);
}
.timeline ol li:last-child {
  width: 280px;
}
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}
.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}
.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}
.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}
.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}
.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.hero {
  background-color:none;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: table;
  width: 100%; 
  border-spacing: 10px; 
  padding-left: 200px;
  padding-right: 200px;
}
.hero__title {
  color: rgb(233,233,233);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}
.bar-progress{
  height: 200px;
  display: flex;
  flex-direction:row;
  line-height: 20px;
  bottom: 20px;
  object-fit: cover;
}
.container-bar-progress{
  width: auto;
  height: 30px;
  background-color: rgb(13,13,13);
}
.container-bar-progress:hover{
  opacity: 50%;
  cursor: pointer;
}
.bar-progress p h5{
  text-align: center;
  margin-right: 50px;
  line-height: 20px;
  align-items: center;
  font: bold;  
}
.subtitle2{
  color: rgb(13,13,13);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 50px;
}
.skills {
  text-align: right;
  line-height: 30px;
  color: rgb(13,13,13);
  display: flex;
}
.html {
  width: 50%; background-color: rgb(217, 164, 4);
}
.css {
  width: 40%; background-color: rgb(217, 164, 4);
}
.js {
  width: 35%; background-color: rgb(217, 164, 4);
}
.react {
  width: 10%; background-color: rgb(217, 164, 4);
}
.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}
/***********Form*************/
form{
  padding: 30px;
  max-width: 900px;
  background-color: rgb(217, 164, 4);
  margin: 0 auto;
}
form input, form textarea{
  margin-bottom: 15px;
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  color: rgb(13,13,13) ;
  font-size: 1em;
  resize: horizontal; 
}
form button {
	display: block;
	background-color: rgb(13,13,13);
  padding: 10px 45px 10px 45px;
	font-size: 1em; 
}
form button:hover{
	background-color: rgb(255, 255, 255);
}
textarea { 
  resize: none; 
}

/*********footer***********/
.footer ul{
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  background-color: rgb(13,13,13);
}
.footer li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
.footer a{
  padding: 2px 7px 2px 7px;
  color: rgb(233,233,233);
  text-decoration: none;
}
.footer li a:hover{
  background-color: rgb(51, 51, 51);
  color: rgb(217, 164, 4);
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*Timeline*/
@media screen and (max-width: 600px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  .timeline ol li div {
    position: static;
  }
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }

}


@media screen and (max-width: 600px){
  
  .linksHead{
      /* display: none; */
      position: fixed;
      background: #b92b27;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly; 
      clip-path: circle(0.0% at 100%); 
  }
  .nav-header .menudos{
      -webkit-clip-path: circle(133.8% at 100% 0);
      clip-path: circle(133.8% at 100% 0);
  }
  .nav-header .linksHead a{
      color: white;
  }
  .burger{
      display: block;
  }
}

@media screen and(max-width:600px) {
  .section2{
    display: block;
  }
  
  .tittle-contain-section2{
    font-size: 10px;
  }
  
  
  






}





















